<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>
    b {
        font-size: 18px;
    }
</style>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid white; border-collapse: collapse; border-style: solid;">
                    <tr>
                        <td align="center" bgcolor="#6d0eb1" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                          <img src="https://pbs.twimg.com/media/EkjfIDNWMAI4PAM?format=png&name=small" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#000000" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="260" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding: 5px 0 25px 0px; color: white; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                                              Name: <b>{{name}}</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="60">
                                                    &nbsp;
                                                </td>
                                                <td width="220" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding: 5px 0 25px 0px; color: white; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                                              Last Name: <b>{{lastname}}</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="260" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding: 5px 0 25px 0px; color: white; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                                              Email: <b>{{email}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="60">
                                                    &nbsp;
                                                </td>
                                                <td width="220" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding: 5px 0 25px 0px; color: white; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                                              Phone: <b>{{phone}}</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="margin-top: 30px; padding-top: 30px">
                                  <td style="color:white; font-family: Arial, sans-serif;">
                                    <p style="font-size: 20px;">Message:</p>
                                      <b style="font-size: 24px;">{{message}}</b>
                                  </td>
                              </tr>
                            </table>
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
</body>
</html>